
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Vue.js - Sample</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="script.js"></script>
</head>
<body>
  <div class="wrap">

    <!-- select -->
    <section id="select">
      <h2>Select</h2>
      <select class="form-control" v-on:change="change" v-model="selected">
        <option class="">----</option>
        <option v-for="option in options" v-bind:value="option.val">
          {{option.val}}
       </option>
      </select>
      {{selected}}
    </section>

    <!-- table -->
    <section id="table">
      <h2>Table</h2>
      <table>
        <tr>
          <th>AAA</th>
        </tr>
        <tr v-for="data in datas">
          <td>
            {{data.val}}
            <span>{{data.val}}</span>
            <table-input :val="data.val"></table-input>
            <message message="Tes"></message>
            <message :message="data.val"></message>
          </td>
        </tr>
      </table>
    </section>

    <!-- table2 -->
    <section id="table2">
      <h2>Table</h2>
      <table>
        <tbody>
          <template v-for="data in datas">
            <tr>
              <td height="30" align="center" valign="middle" bgcolor="#a1dde8" style="line-height:1.2em;" rowspan="2">Rowspan - 2</td>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
            </tr>
            <tr>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </section>
  </div>
</body>
</html>
