
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Vue.js - Sample</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript" src="script.js"></script>
</head>
<body>
  <div class="wrap">

    <!-- Select -->
    <section id="select">
      <h2>Select</h2>
      <p>セレクトボックスのイベントを取得</p>
      <select class="form-control" v-on:change="change" v-model="selected">
        <option class="">----</option>
        <option v-for="option in options" v-bind:value="option.val">
          {{option.val}}
       </option>
      </select>
      {{selected}}
    </section>

    <!-- Table -->
    <section id="table">
      <h2>Table</h2>
      <p>input要素のイベントを取得</p>
      <table>
        <tr>
          <th>AAA</th>
        </tr>
        <tr v-for="data in datas">
          <td>
            {{data.val}}
            <span>{{data.val}}</span>
            <table-input :val="data.val"></table-input>
            <message message="Tes"></message>
            <message :message="data.val"></message>
          </td>
        </tr>
      </table>
    </section>

    <!-- Table2 Rowspan -->
    <section id="table-rowspan">
      <h2>Table Rowspan</h2>
      <p>v-forのrowspan対応</p>
      <table>
        <tbody>
          <template v-for="data in datas">
            <tr>
              <td height="30" align="center" valign="middle" bgcolor="#a1dde8" style="line-height:1.2em;" rowspan="2">Rowspan - 2</td>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
            </tr>
            <tr>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
              <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">{{data.val}}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </section>

    <!-- Table Input -->
    <section id="table-input">
      <h2>Table Input</h2>
      <p>テーブルにinputを組み込む</p>
      <table>
        <template v-for="data in datas">
          <tr>
            <td rowspan="3" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">坪井　 ヨシ子</td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
          </tr>
          <tr>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
          </tr>
          <tr>
            <td height="30" colspan="4" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">&nbsp;</td>
            <td height="30" colspan="1" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">
              <table-input></table-input>
            </td>
          </tr>
        </template>
      </table>
    </section>

    <!-- Table Title -->
    <section id="table-title">
      <h2>Table Title</h2>
      <p>テーブルの行は固定で文言のみを変更</p>
      <table>
        <tbody>
          <tr>
            <td height="30" align="center" valign="middle" bgcolor="#a1dde8" style="line-height:1.2em;">{{a}}</td>
            <td height="30" align="center" valign="middle" bgcolor="#a1dde8" style="line-height:1.2em;">{{b}}</td>
            <td height="30" align="center" valign="middle" bgcolor="#a1dde8" style="line-height:1.2em;">{{c}}</td>
          </tr>
          <tr>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">AA</td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">BB</td>
            <td height="30" align="center" valign="middle" bgcolor="#FFFFFF" style="line-height:1.2em;">CC</td>
          </tr>
        </tbody>
      </table>
    </section>


  </div>
</body>
</html>
